@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}