@charset "utf-8";
@import url('reset.css');


@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Regular.eot');
  src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
    url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Medium.eot');
  src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
    url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-SemiBold.eot');
  src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
    url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Bold.eot');
  src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
    url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


#splash {
  position: fixed;
  inset: 0;
  max-width: 430px;
  min-width: 320px;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease;
}

#splash.hide {
  opacity: 0;
  pointer-events: none;
}

#splash .inner{
  width: 100%;
  height: 100%;
   margin: 0 auto;
  background: url(../img/splash-img.webp) center / cover no-repeat;
  position: relative;
}
#splash .inner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#splash .inner .text span {
  font-size: 30px;
  font-weight: 400;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  margin-top: 20px;
}

#splash .inner .text p {
  font-size: 40px;
  font-weight: 500;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

#splash .inner .text strong {
  margin-top: 190px;
  font-size: 80px;
  font-weight: 600;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}

#splash .inner .text b {
  margin-top: 260px;
  font-size: 35px;
  font-weight: 500;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}


#wrap {
  max-width: 430px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #5AB1B5;
  font-family: 'Pretendard';
  color: #333;
}


.header {
  padding-top: 25px;
  font-size: 22px;
}

.header .inner {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .inner .logo {
  color: #fff;
  font-weight: 500;
}

.header .inner .nav {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header .inner .nav a {
  display: block;
  width: 28px;
  height: 28px;
}

.header .inner .nav a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main {
  width: 100%;
  margin: 0 auto;
}

.main .inner .search {
  width: calc(100% - 40px);
  margin: 12px auto 0;
  position: relative;
}

.main .inner .search input[type="text"] {
  width: 100%;
  height: 37px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  border: 0;
}

.main .inner .search input:focus {
  outline: 1.5px solid #595959;
  border: 0;
  color: #333;
}

.main .inner .search .camera {
  height: 25px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.main .inner .search .camera img {
  height: 100%;
  object-fit: cover;
}


.main .gnb ul {
  width: calc(100% - 40px);
  margin: 13px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .gnb ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

.main .gnb ul li a.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 140%;
  background-color: #fff;
}

.main .gnb ul li a img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.main .main_visual .swiper {
  width: 100%;
  height: 350px;
  position: relative;
}

.main .main_visual .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .main_visual .swiper-slide .text {
  position: absolute;
  left: 8%;
  bottom: 8%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main .main_visual .swiper-slide .text b {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
}

.main .main_visual .swiper-slide .text p {
  font-size: 16px;
  font-weight: 400;
}

.main .main_visual .swiper-slide .num {
  position: absolute;
  right: 5%;
  bottom: 8%;
  font-size: 13px;
  font-weight: 400;
  color: #fff
}

.main .main_visual .swiper-slide .num img {
  width: 9px;
  height: 9px;
  object-fit: cover;
}


.section-01 {
  /* width: calc(100% - 40px);
  margin: 25px auto 0; */
  padding: 35px 20px 100px;
  background-color: #fff;
}

.section-01 .foryou .title {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-01 .foryou .title b {
  font-size: 30px;
  font-weight: 700;
}

.section-01 .foryou .title span {
  font-size: 12px;
  text-decoration: underline;
}


.section-01 .foryou .list .swiper {
  width: 100%;
  height: auto;
  position: relative;
}

.section-01 .foryou .list .swiper-slide {
  width: 95px;
}

.section-01 .foryou .list .swiper-slide .item a {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-01 .foryou .list .swiper-slide .item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-01 .foryou .list .swiper-slide .item a .text {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 2px;
}

.section-01 .foryou .list .swiper-slide .item a .text b {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-01 .foryou .list .swiper-slide .item a .text p {
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
}

.section-01 .foryou .list .swiper-slide .item a .text .price {
  display: flex;
  gap: 3px;
  align-items: flex-end;
}

.section-01 .foryou .list .swiper-slide .item a .text .price span {
  font-weight: 600;
  color: #FF3B30;
}

.section-01 .foryou .list .swiper-slide .item a .text .price strong {
  font-size: 14px;
  font-weight: 600;
}



.bottom_nav {
  max-width: 430px;
  min-width: 320px;
  width: 100%;
  padding: 0 20px;
  background-color: #5AB1B5;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.bottom_nav .tab_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom_nav .tab_nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  gap: 4px;
  flex: 1;
  text-align: center;
}

.bottom_nav .tab_nav li img {
  height: 30px;
  object-fit: cover;
}

.bottom_nav .tab_nav li b {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.bottom_nav .tab_nav li.active b {
  font-weight: 600;
}