@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Bold.eot');
    src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.notice #wrap {
    max-width: 430px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Pretendard';
    color: #333;
}

.notice .header {
    background-color: #ECE8D9;
}

.notice .header .inner {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notice .header .title a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.notice .header .title img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.notice .header .title b {
    font-size: 20px;
    font-weight: 500;
}

.notice .header .nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.notice .header .nav img {
    width: 28px;
    height: 28px;
    object-fit: cover;
}


.notice .main {
    background-color: #ECE8D9;
    height: 100px;
    padding-top: 15px;
}

.notice .main .inner {
    width: calc(100% - 40px);
    margin: 0 auto;
}

.notice .main .inner .setting-item {
    display: flex;
}

.notice .main .inner .setting-item .onoff {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
}

.notice .main .inner .setting-item .onoff p {
    font-size: 13px;
    font-weight: 400;
}

.notice .main .inner .setting-item .onoff .toggle-switch {
    width: 48px;
    height: 20px;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.notice .main .inner .setting-item .onoff .toggle-track {
    width: 100%;
    height: 100%;
    background: #ECE8D9;
    border: 2px solid #DDC8AA;
    border-radius: 10px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    box-sizing: border-box;
}
.notice .main .inner .setting-item .onoff .toggle-option {
    font-size: 10px;
    font-weight: bold;
    z-index: 1;
    pointer-events: none;
    transition: color 0.3s;
}
.notice .main .inner .setting-item .onoff .toggle-thumb {
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: left 0.3s, background 0.3s;
    z-index: 0;
}





.notice .main .inner .gnb {
    margin-top: 15px;
}

.notice .main .inner .gnb ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.notice .main .inner .gnb ul li {
    flex: 1;
}

.notice .main .inner .gnb ul li a {
    display: block;
    padding: 9px 6px;
    text-align: center;
    border: 1.5px solid #E3D3BB;
    box-shadow: 0 2px 4px rgba(79, 68, 54, 0.12);
    border-radius: 15px;
    background-color: #F1ECDF;
    color: #7C6C55;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;
    white-space: nowrap;
}

.notice .main .inner .gnb ul li.active a {
    background-color: #E3D3BB;
    color: #4F4436;
    box-shadow: inset 0 1px 2px rgba(79, 68, 54, 0.15);
    font-weight: 600;
}

.notice .section-01 {
    max-width: 430px;
    min-width: 320px;
    margin-top: 40px;
}

.notice .section-01>.inner {
    width: 100%;
    margin: 0 auto;
}

.notice .section-01>.inner>a {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #DDC8AA;
    display: block;
    border-radius: 10px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}

.notice .section-01 .news {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.notice .section-01 .news .list-01 {
    position: relative;
    padding-bottom: 25px;
}

.notice .section-01 .news .list-01::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 5px;
    background-color: #EFEFEF;
}
.list-01.hide-after::after {
    display: none;
}


.notice .section-01 .news .list-01 .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notice .section-01 .news .title b {
    font-size: 17px;
    font-weight: 500;
}

.notice .section-01 .news .list-01 .title img {
    width: 28px;
    height: 11px;
    object-fit: cover;
}
.notice .section-01 .news .list-01 .title img.toggle-btn {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.notice .section-01 .news .list-01.collapsed .title img.toggle-btn {
    transform: rotate(180deg);
}

.notice .section-01 .news .item {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    height: auto; 
    opacity: 1;
}
.hidden {
    display: none !important;
}
/* 주문/배송 간격 */
.notice .section-01 .news.compact-large {
    margin-top: 0px;
}
/* 이벤트/내활동 간격 */
.notice .section-01 .news.compact-small {
    margin-top: -40px;
}


.notice .section-01 .news .list-01.collapsed .item {
    max-height: 0;
    opacity: 0;
}
.notice .section-01 .news .item .depth-01,
.notice .section-01 .news .item .depth-02 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.notice .section-01 .news .item .left {
    display: flex;
    align-items: center;
    gap: 17px;
}

.notice .section-01 .news .item .left img {
    width: 70px;
    height: 85px;
    object-fit: cover;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

.notice .section-01 .news .item .left p {
    font-size: 15px;
    font-weight: 400;
}

.notice .section-01 .news .item .right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.notice .section-01 .news .item .right a img {
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.notice .section-01 .news .list-01 .item .right>img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.notice .section-01 .news .list-02 {
    padding-bottom: 100px;
}

.notice .section-01 .news .list-02 .item {
    margin-top: 15px;
}

.notice .section-01 .news .list-02 .item .left {
    position: relative;
}

.notice .section-01 .news .list-02 .item .left img:last-child {
    width: 6px;
    height: 6px;
    object-fit: cover;
    border: none;
    position: absolute;
    right: -5%;
    top: 32%;
    transform: translateY(-50%);
}




.notice .bottom_nav {
    background-color: #ECE8D9;
    color: #333;
}

.notice .bottom_nav .tab_nav li b {
    color: #333;
}

.bottom_nav {
    max-width: 430px;
    min-width: 320px;
    width: 100%;
    padding: 0 20px;
    background-color: #5AB1B5;
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.bottom_nav .tab_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_nav .tab_nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    gap: 4px;
    flex: 1;
    text-align: center;
}

.bottom_nav .tab_nav li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    gap: 4px;
    width: 100%;
}

.bottom_nav .tab_nav li img {
    height: 30px;
    object-fit: cover;
}

.bottom_nav .tab_nav li b {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.bottom_nav .tab_nav li.active b {
    font-weight: 600;
}










.coupon #wrap {
    max-width: 430px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Pretendard';
    color: #333;
    margin-bottom: 100px;
}

.coupon .header {
    width: calc(100% - 40px);
    margin: 40px auto 40px;
}

.coupon .header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coupon .header .inner b {
    font-size: 20px;
    font-weight: 500;
}

.coupon .header .inner img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.coupon .main {
    max-width: 430px;
    min-width: 320px;
}

.coupon .main .inner {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.coupon .main .inner .section-01 {
    width: calc(100% - 40px);
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coupon .main .inner .section-01 .title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coupon .main .inner .section-01 .title .text {
    display: flex;
    align-items: center;
    gap: 1px;
}

.coupon .main .inner .section-01 .title .text p {
    font-size: 15px;
    font-weight: 500;
    color: #9B9B9B;
}

.coupon .main .inner .section-01 .title .text img {
    width: 15px;
    height: 15px;
    object-fit: cover;
}

.coupon .main .inner .section-01 .btn {
    width: 60px;
    height: 23px;
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon .main .inner .section-01 .btn p {
    font-size: 12px;
    font-weight: 500;
    color: #9B9B9B;
}


.coupon .main .section-02 {
    width: calc(100% - 40px);
    margin: 0 auto;
}

.coupon .main .section-02 .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.coupon .main .section-02 .list .item {
    width: 100%;
    margin: 0 20px;
    border: 1.5px solid #C9B187;
    border-radius: 5px;
    min-height: 103px;
    padding: 20px 15px 18px;
    /* cursor: pointer; */
    transition: border-color 0.3s;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
}

.coupon .main .section-02 .list .item .top.has-p {
    margin-top: -10px;
}

/* 사용 불가 쿠폰 (span 있을 때) */
.coupon .main .section-02 .item.disabled {
    border-color: #CDCDCD;
    opacity: 0.6;
    /* cursor: not-allowed; */
}

.coupon .main .section-02 .item.selected {
    border: 2px solid #B39E6A;
    box-shadow: 0 0 0 1px #C2A173;
}

.coupon .main .section-02 .item.disabled.selected {
    border-color: #CDCDCD;
}

.coupon .main .section-02 .list .item .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.coupon .main .section-02 .list .item .top::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    height: 1px;
    background-color: #ECE8D9;
}

.coupon .main .section-02 .list .item .top .price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coupon .main .section-02 .list .item .top .price img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.coupon .main .section-02 .list .item .top .price strong {
    font-size: 20px;
    font-weight: 600;
}

.coupon .main .section-02 .list .item .top .day {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.coupon .main .section-02 .list .item .top .day p {
    font-size: 11px;
    font-weight: 500;
    color: #7C6C55;
    padding: 3px;
    background-color: #EDE0CC;
    border-radius: 5px;
    text-align: center;
}

.coupon .main .section-02 .list .item .top .day span {
    font-size: 12px;
    font-weight: 500;
    color: #9B9B9B;
}

.coupon .main .section-02 .list .item .bottom {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.coupon .main .section-02 .list>.item:first-child .bottom {
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.coupon .main .section-02 .list .item .bottom b {
    font-size: 12px;
    font-weight: 600;
    color: #5AB1B5;
}

.coupon .main .section-02 .list .item .bottom p {
    font-size: 13px;
    font-weight: 500;
}

.coupon .main .section-02 .list .item .bottom span {
    font-size: 11px;
    font-weight: 500;
    padding: 5px 5px;
    background-color: #F1F1F1;
    border-radius: 5px;
}


.coupon .bottom_btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    max-width: 430px;
    min-width: 320px;
    width: 100%;           
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
}
.coupon .bottom_btn .inner {
    width: calc(100% - 40px);  
    height: 50px;
    margin: 0 auto;           
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #5AB1B5;
}

.coupon .bottom_btn .inner button {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}